<div class="row">
  <form class="form-inline col-12 mt-2">
    <label class="mr-1" for="inlineSizeSelector">Size:</label>
    <select class="custom-select ml-1" id="inlineSizeSelector" (change)="onChangeSize($event.target.value)">
      <option></option>
      <option value="{{size}}" *ngFor="let size of sizes">{{size}}</option>
    </select>
    <label class="ml-2" for="inlineColourSelector">Colour:</label>
    <select class="custom-select ml-1" id="inlineColourSelector" (change)="onChangeColour($event.target.value)">
      <option></option>
      <option value="{{colour}}" *ngFor="let colour of colours">{{colour}}</option>
    </select>
  </form>
</div>

<app-shirt-overview [shirts]="shirts" [size]="selectedSize" [colour]="selectedColour"></app-shirt-overview>