<div class="container">
  <div *ngIf="shirt">
    <div class="row">
      <div class="col-4">
        <div class="card bg-dark text-black">
          <img class="card-img" src="{{shirt.picture}}" alt="{{shirt.name}}">
          <div class="card-img-overlay">
            <h5 class="card-title">{{shirt.name}}</h5>
          </div>
        </div>
      </div>
      <div class="col-8">
        <p><strong>Name:</strong>{{shirt.name}}</p>
        <p><strong>Price:</strong>{{shirt.price}}</p>
        <p><strong>Colour:</strong>{{shirt.colour}}</p>
        <p><strong>Size:</strong>{{shirt.size}}</p>
        <p><strong>Quantity:</strong>{{shirt.quantity}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button type="button" class="btn btn-secondary" (click)="backToList()">Back to list</button>
      </div>
      <div class="col-3 offset-3">
        <button type="button" class="btn btn-primary" (click)="addToBasket()">
          <span *ngIf="!inBasket">Add to basket</span>
          <span *ngIf="inBasket">Add one more to basket</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="shirt === undefined">
    <div class="col-12">
      Shirt not Found!
    </div>
  </div>
</div>