<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-dark bg-primary">
    <span class="navbar-brand mb-0 h1">Shirts Store</span>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" style="color:white;cursor: pointer;" (click)="showBasket(template)">
        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>({{amountOfItems}})
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Basket</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="backetModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-basket-list></app-basket-list>
  </div>
</ng-template>