<div class="row" *ngIf="shirts">
  <div class="col-4 mt-2" 
    *ngFor="let shirt of shirts | sizeFilter:size | colourFilter:colour"
    (click)="gotoShirt(shirt.id)">
    <div class="card border-primary">
      <div class="shirts-wrapper">
        <img class="card-img-top shirts-img" src="{{shirt.picture}}" alt="{{shirt.name}}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{shirt.name}}</h5>
        <p class="card-text"><strong>Price:</strong> {{shirt.price}}</p>
        <p class="card-text"><strong>Colour:</strong> {{shirt.colour}}</p>
        <p class="card-text"><strong>Size:</strong> {{shirt.size}}</p>
      </div>
    </div>
  </div>