<div class="container">
  <div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>                
                <th scope="col">Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of basket; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{item.name}}</td>
                <td><input type="number" step="1" min="0" [(ngModel)]="item.quantity" style="width:60px;" (change)="onQtyChange(i, $event.target.value)" /></td>
                <td>{{item.price}}</td>
                <td>{{item.price * item.quantity}}</td>
                <td><i class="fa fa-trash" style="color:red;cursor:pointer;" aria-hidden="true" (click)="remove(item, i)"></i></td>
              </tr> 
              <tr>
                  <td colspan=4><strong class="pull-right">Total:</strong></td>
                  <td>{{getTotal(basket)}}</td>
                </tr>              
            </tbody>
          </table>
    </div>
  </div>
</div>